---
const id = "CT-" + Math.random().toString(16).replace("0.", "");
---

<form
  class="relative flex w-auto flex-col gap-6 bg-gray-100 py-14 lg:min-h-[38rem] lg:w-[35.125rem] lg:rounded-[2.5rem] lg:px-5 lg:py-8 xl:min-h-[45.4rem] xl:w-[45.125rem] xl:rounded-[3.65rem] xl:px-20 xl:py-14"
>
  <div class="flex flex-col gap-2 px-3">
    <span class="text-base font-medium text-gray-600">کنسول بازی</span>
    <div class="flex flex-wrap items-center gap-5 gap-y-2">
      <h3 class="text-5xl font-medium text-primary xl:text-[3.75rem]">
        PlayStation 5
      </h3>
      <span
        class="rounded-full bg-black px-4 pt-1 text-sm font-medium text-white lg:text-lg"
      >
        Standard
      </span>
    </div>
  </div>

  <div class="flex gap-1.5 px-3 text-xl font-medium">
    <i class="fa-solid fa-star text-amber-500"></i>
    <span>8/10</span>
    <span><i class="fa-solid fa-period -translate-y-1"></i></span>
    <span>15 برسی</span>
  </div>
  <div class="px-3">
    <p
      class="line-clamp-6 text-lg font-extralight text-gray-600 lg:text-[1.375rem]"
    >
      حالت شب اکنون در همه دوربین ها برای تسلط بر صحنه های پیچیده با نور کم است.
      با روشن بودن حالت شب پرتره، حتی ظاهر شما نیز به روش طبیعی خیره کننده ای
    </p>
  </div>
  <div class="flex items-center justify-between px-3 lg:mt-5">
    <ul class="flex gap-2">
      <li
        class="aspect-square h-8 rounded-full border-4 border-gray-500 bg-white lg:h-10"
      >
        <input type="text" hidden name={`Color-${id}`} value="white" />
      </li>
    </ul>
    <div class="flex">
      <label class="flex items-center gap-0 lg:gap-3">
        <button
          data-minus={id}
          type="button"
          class="flex aspect-square h-10 items-center justify-center rounded-full border border-gray-600 text-xl disabled:opacity-40 lg:h-12 lg:text-2xl"
        >
          <i class="fa-solid fa-minus"></i>
        </button>
        <input
          type="text"
          name={`${id}`}
          max="10"
          value="1"
          class="pointer-events-none flex h-12 w-12 items-center justify-center bg-transparent pt-1 text-center text-3xl font-medium lg:text-4xl"
          readonly
        />
        <button
          data-plus={id}
          type="button"
          class="flex aspect-square h-10 items-center justify-center rounded-full border border-gray-600 text-xl disabled:opacity-40 lg:h-12 lg:text-2xl"
        >
          <i class="fa-solid fa-plus"></i>
        </button>
      </label>
    </div>
  </div>
  <div
    class="flex flex-wrap items-center justify-between gap-3 px-3 sm:mt-10 lg:mt-auto"
  >
    <div class="flex items-end gap-2">
      <span class="text-4xl font-black lg:text-5xl">21,890,000</span>
      <span class="text-lg font-bold">تومان</span>
    </div>
    <div class="flex flex-shrink-0">
      <button
        type="submit"
        class="flex h-16 items-center gap-4 rounded-full bg-primary px-8 font-medium text-white lg:h-20 lg:text-lg"
      >
        <i class="fa-regular fa-bag-shopping text-2xl lg:text-4xl"></i>
        افزودن به سبد
      </button>
    </div>
  </div>
</form>
<script>
  const inputs = $('input[type="text"]');

  for (const _input of inputs) {
    const input = $(_input);
    const name = input.attr("name");

    const max = +input.attr("max");
    const minus = $(`button[data-minus="${name}"]`);
    const plus = $(`button[data-plus="${name}"]`);
    minus.click(function () {
      const val = input.val();
      plus.attr("disabled", false);
      input.val(+input.val() - 1);
      if (+input.val() <= 0) $(this).attr("disabled", true);
    });
    plus.click(function () {
      const val = input.val();
      minus.attr("disabled", false);
      input.val(+input.val() + 1);
      if (+input.val() >= max) $(this).attr("disabled", true);
    });
  }
</script>
