---
---

<section
  class="relative flex min-h-screen items-center overflow-hidden bg-gradient-to-r from-[#dbdde9] to-[#f0f1f5]"
>
  <div
    class="container relative z-10 mx-auto flex flex-1 flex-col-reverse justify-between gap-5 py-10 sm:py-16 lg:flex-row lg:items-center lg:gap-10"
  >
    <div class="flex max-w-xl flex-col gap-5 px-3 sm:gap-10">
      <!--Tarikh data-date be tarikh mored nazar taghir dade shavad-->
      <div
        class="ct-timer mx-auto mb-2 flex min-w-[260px] max-w-xs flex-row-reverse items-center gap-1 text-2xl font-bold sm:mb-16 sm:min-w-full sm:max-w-full sm:text-4xl md:gap-4 lg:gap-1 lg:text-6xl xl:gap-4"
        data-date="1402/6/5"
        data-ct-timer
      >
        <div>
          <div>
            <div>0</div>
            <div>0</div>
          </div>
          <span>روز</span>
        </div>
        <span>:</span>
        <div>
          <div>
            <div>0</div>
            <div>0</div>
          </div>
          <span>ساعت</span>
        </div>
        <span>:</span>
        <div>
          <div>
            <div>0</div>
            <div>0</div>
          </div>
          <span>دقیقه</span>
        </div>
      </div>

      <h3
        class="text-center text-[10vw] font-bold text-primary xs:text-3xl sm:text-right sm:text-4xl xl:text-6xl"
      >
        در قرعه کشی شرکت کن
      </h3>
      <p
        class="max-w-xl text-center text-sm font-semibold leading-6 text-gray-500 sm:text-right sm:text-lg sm:leading-8 lg:text-2xl lg:leading-[3.2rem]"
      >
        همین الان ثبت نام کن و پیج اینستاگرام سی تلاکم رو دنبال کن تو قرعه کشی
        پلی استیشن 5 شرکت کنی
      </p>

      <a
        href="#"
        class="flex h-10 items-center gap-1.5 self-start rounded-full bg-primary px-4 text-sm font-medium text-white sm:h-16 sm:gap-3 sm:px-8 sm:text-lg lg:h-20 lg:text-lg"
      >
        <i class="fa-brands fa-instagram text-base sm:text-xl lg:text-4xl"></i>
        دنبال کن
      </a>
    </div>
    <div class="max-w-2xl px-3 sm:px-0">
      <img src="/assets/images/xo.png" alt="XO#A." />
    </div>
  </div>
</section>
<style is:global>
  .ct-timer > div {
    @apply flex flex-1 flex-shrink-0 flex-col items-center gap-2;
  }

  .ct-timer > span {
    @apply mb-8;
  }

  .ct-timer > div > div {
    @apply flex w-full flex-shrink-0 gap-1.5 sm:gap-3;
  }

  .ct-timer > div > span {
    @apply text-sm text-gray-500 sm:text-lg;
  }

  .ct-timer > div > div > div {
    @apply flex h-16 flex-1 flex-shrink-0 items-center justify-center rounded-full border border-gray-400 pb-2 pt-3 sm:h-24 lg:h-32 lg:pb-0;
  }
</style>
<script>
  $(document).ready(() => {
    moment.locale("fa", { useGregorianParser: true });
    const element = $("[data-ct-timer]");
    const theDate = element.attr("data-date");
    if (!theDate) return;
    const target = moment.from(theDate, "fa");
    let lastMinute = 0;

    setInterval(() => {
      const minutes = Math.abs(moment().diff(target, "minutes"));
      const days = Math.floor(minutes / 24 / 60);
      const hours = Math.floor((minutes / 60) % 24);
      const min = Math.floor(minutes % 60);
      if (lastMinute === min) {
        lastMinute = min;
        return;
      }
      const date = [];
      date[0] = days < 10 ? "0" + days : String(days);
      date[1] = hours < 10 ? "0" + hours : String(hours);
      date[2] = min < 10 ? "0" + min : String(min);
      element.html(`<div>
            <div>
              <div>${date[0][1]}</div>
              <div>${date[0][0]}</div>
            </div>
            <span>روز</span>
          </div>
          <span>:</span>
          <div>
            <div>
              <div>${date[1][1]}</div>
              <div>${date[1][0]}</div>
            </div>
            <span>ساعت</span>
          </div>
          <span>:</span>
          <div>
            <div>
              <div>${date[2][1]}</div>
              <div>${date[2][0]}</div>
            </div>
            <span>دقیقه</span>
          </div>`);
    }, 1000);
  });
</script>
